
/*
 * ====================================================================
 * GENERAL
 * ====================================================================
 */

:root {
    --bs-body-font-size: 0.765rem;
    --bs-card-color: #111827;
}

body {
    background-color: #f7f8f9;
}

a {
    color: rgb(54 135 207);
}

.app-header {
    border-bottom: 0.1rem solid #3687cf;
    /* background: rgb(54 135 207); */
    color: #000000;
}

#main-wrapper[data-layout=vertical] .app-header.fixed-header .navbar {
    background: #3687cf;
}

.text-version {
    color: #000306;
    text-align: right;
    font-size: .75rem;
}

.unlimited-access {
    padding: 15px 10px 15px;
}

.bg-vc-100 {
    background: rgb(54 135 207) !important;
}

.bg-vc-50 {
    background: rgb(143 187 216) !important;
}

.bg-vc-25 {
    background: rgb(197 226 243) !important;
}

.select2-container--classic .select2-selection--single, .select2-container--classic .select2-selection--single .select2-selection__arrow, .select2-container--classic .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow, .select2-container--default .select2-selection--single .select2-selection__rendered {
    border-color: transparent;
    border-bottom: 1px solid #dfe5ef;
    height: 23px;
    line-height: 25px;
    font-size: 0.765rem;
    color: #111827;
    padding-left: 0;
}

.input-group-sm>.btn, .input-group-sm>.form-control, .input-group-sm>.form-select, .input-group-sm>.input-group-text {
    border-radius: inherit;
    padding: 0.1rem 0.1rem;
}

/*
 * ====================================================================
 * MENU
 * ====================================================================
 */

.nav-breadcrumb {
    height: 50px;
    padding: 8px 16px;
    line-height: 35px;
}

.app-header .navbar .navbar-nav .nav-item .nav-link {
    height: 50px;
}

.app-header .navbar {
    min-height: 50px;
}

.nav-small-cap {
    margin-top: 10px;
}

.brand-logo {
    padding: 0 10px;
}

.left-sidebar {
    /* border-right: 0.15rem solid rgb(54 135 207); */
}

.left-sidebar .scroll-sidebar {
    border-radius: inherit;
    /*background: rgb(54 135 207);*/
}

.sidebar-nav ul .sidebar-item .sidebar-link {
    color: #111827;
}

.sidebar-nav ul .sidebar-item .sidebar-link:hover {
    color: #3a3a3a;
    font-weight: 700;
    background: rgb(143 187 216);
}

.sidebar-nav ul .sidebar-item.selected>.sidebar-link, .sidebar-nav ul .sidebar-item.selected>.sidebar-link.active, .sidebar-nav ul .sidebar-item>.sidebar-link.active {
    color: #3a3a3a;
    font-weight: 700;
    background: rgb(143 187 216);
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link:hover {
    color: #3a3a3a;
    font-weight: 700;
    background: rgb(143 187 216);
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link.active {
    color: #3a3a3a;
    font-weight: 700;
    background: rgb(143 187 216);
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link.active.has-arrow::after {
    border-color: #3a3a3a;
    font-weight: 700;
}

.sidebar-nav .has-arrow::after {
    /* border-color: #ffffff; */
    font-weight: 700;
}

.nav-icon-hover:hover::before {
    background-color: #0074ba;
}

.app-header .navbar .navbar-nav .nav-item .nav-link {
    color: #3a3a3a;
}

.nav-small-cap {
    color: #ffffff;
}

.app-header .navbar .navbar-nav.quick-links .nav-item:hover .nav-link:before {
    border-radius: inherit;
    background: inherit;
    border-bottom: 0.15rem solid rgb(54 135 207)
}

#main-wrapper[data-layout=vertical][data-header-position=fixed] .body-wrapper>.container-fluid, #main-wrapper[data-layout=vertical][data-header-position=fixed] .body-wrapper>.container-lg, #main-wrapper[data-layout=vertical][data-header-position=fixed] .body-wrapper>.container-md, #main-wrapper[data-layout=vertical][data-header-position=fixed] .body-wrapper>.container-sm, #main-wrapper[data-layout=vertical][data-header-position=fixed] .body-wrapper>.container-xl, #main-wrapper[data-layout=vertical][data-header-position=fixed] .body-wrapper>.container-xxl {
    padding-top: 15px;
}

#main-wrapper[data-layout=vertical][data-header-position=fixed] .app-header {
    position: relative;
}

.body-wrapper>.container-fluid, .body-wrapper>.container-lg, .body-wrapper>.container-md, .body-wrapper>.container-sm, .body-wrapper>.container-xl, .body-wrapper>.container-xxl {
    max-width: 2500px;
}

@media (min-width: 992px) {
    #main-wrapper[data-layout=vertical][data-sidebartype=mini-sidebar] .left-sidebar {
        width: 10px;
    }

    #main-wrapper[data-layout=vertical][data-sidebartype=mini-sidebar] .left-sidebar .scroll-sidebar {
        padding: 0;
    }

    #main-wrapper[data-layout=vertical][data-sidebartype=mini-sidebar] .body-wrapper {
        margin-left: 10px;
    }

    #main-wrapper[data-layout=vertical][data-header-position=fixed][data-sidebartype=mini-sidebar] .app-header {
        width: 100%;
    }

    #main-wrapper[data-layout=vertical][data-header-position=fixed] .app-header {
        width: 100%;
    }
}

/*
 * ====================================================================
 * CONTENT
 * ====================================================================
 */

.card {
    border: 1px solid #d8dadd;
    box-shadow: none;
    margin-bottom: 10px;
}

.card-body {
    padding: 0.875rem;
}

.content-body .card {
    box-shadow: 0px 1px 2px;
}

.content-header {
    padding-bottom: 10px;
}

.content-header .content-header-name {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
}

.content-header .content-header-links {
    text-align: right;
    font-size: 0.875rem;
}

.content-buttons {
    margin-bottom: 10px;
}

/*
 * ====================================================================
 * INPUT, SELECTE, TEXTAREA
 * ====================================================================
 */

.form-group {
    margin-bottom: .475rem !important;
}

.form-control {
    color: #111827;
}

.form-control-sm {
    min-height: calc(0.5em + 0.5rem + calc(var(--bs-border-width) * 2));
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: inherit;
    padding: 0.1rem 0.1rem;
}

.form-control-vc {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: inherit;
    padding: 0.1rem 0.1rem;
}

.input-group-vc .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: inherit;
    padding: 0.1rem 0.1rem;
}

.input-group-vc .input-group-text {
    background: inherit;
    border-bottom: 1px solid #dfe5ef;
}

.form-select-vc {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: inherit;
    padding: 0.1rem 0.1rem;
}

/*
 * ====================================================================
 * BOOTSTRAP
 * ====================================================================
 */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000;
    background: inherit;
    border-bottom: 1px solid #3687cf;
    border-radius: inherit;
}

.nav-tabs .nav-link {
    padding: .1rem;
    margin-right: 0.875rem;
}

/*
 * ====================================================================
 * SELECT2
 * ====================================================================
 */
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable a {
    color: white;
}